body {
  padding-top: 50px;
}

.comment-section {
  box-sizing: border-box;
  padding:2em;
}

.comment-comment {
  padding-top: 10px;
}

.glyph-link {
  margin-left: 2em;
}

form {
  /*width: 60%;*/
}
