{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
  <article>
    {% for field in form %}
      <p>{{ field.error }}</p>
    {% endfor %}
    <form action="{% url 'blog:add' %}" method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class=" form-control btn btn-info" type='submit'>Publish</button>
    </form>
  </article>

{% endblock %}
