{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuxfun Home - Linux and Programming News</title>
    <link rel='stylesheet' href="{% static 'blog/bootstrap/bootstrap.min.css' %}" >
    <link rel='stylesheet' href="{% static 'blog/main.css' %}">
    <meta charset="utf-8">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blog-menu">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">TuxFun</a>
        </div>

        <div class="collapse navbar-collapse" id="blog-menu">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="{% url 'blog:index' %}"><span class="glyphicon glyphicon-time"></span> Recent</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'blog:category' 'linux' %}"><span class="glyphicon glyphicon-cog"></span> Linux</a></li>
                <li><a href="{% url 'blog:category' 'programming' %}"><span class="glyphicon glyphicon-stats"></span> Programming</a></li>
                <li><a href="{% url 'blog:category' 'web' %}"><span class="glyphicon glyphicon-globe"></span> Web</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'blog:category' 'thoughts' %}"><span class="glyphicon glyphicon-flag"></span> Thoughts</a></li>
                <li><a href="{% url 'blog:category' 'fun' %}"><span class="glyphicon glyphicon-user"></span> Fun</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blog:add' %}"><span class="glyphicon glyphicon-add"></span> Add Blog</a></li>
            <li><a href="{% url 'blog:trash' %}"><span class="glyphicon glyphicon-trash"></span> Trash</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.id %}
                  <li><a href="{% url 'blog:profile' request.user.id %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              {% endif %}
            {# {% if request.user %}#}
              <li><a href="{% url 'blog:user_login' %}"><span class="glyphicon glyphicon-inbox"></span> Login</a></li>
            {# {% else %}#}
              <li><a href="{% url 'blog:sign_up' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="{% url 'blog:user_logout' %}"><span class="glyphicon glyphicon-inbox"></span> Logout</a></li>
            {# {% endif %}#}
          </ul>
        </div>

      </nav>

    </header>

    <div class="page-header">
      <div class="container">
        <p class="alert alert-success">
          {% if request.user %}
            Welcome {{ request.user }}
          {% else %}
            Welcome Anonymous!
          {% endif %}
        </p>
      </div>
    </div>

      <div class="container">

        <!-- <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
        </ul> -->

        <div class="row">
          <div class="col-md-3">
              {% block aside %}

              {% endblock %}
          </div>
          <div class="col-md-6">
            {% block content %}

            {% endblock %}
          </div>

          <div class="col-md-3">

            {% block aside1 %}
              <h2>Popular on Tuxfun</h2>
              {% if recent_5_posts %}
                {% for post in recent_5_posts %}
                  <p><a href="{% url "blog:detail" post.id %}">{{ post.post_title }}</a></p>
                {% endfor %}
              {% else %}
                <p>No posts yet<a href="{% url 'blog:add' %}">Add One!</a></p>
              {% endif %}

              <h2>Popular fun articles</h2>
              {% if recent_5_fun %}
                {% for post in recent_5_fun  %}
                  <p><a href="{% url 'blog:detail' post.id %}">{{ post.post_title }}</a></p>
                {% endfor %}
              {% else %}
               <p>No fun posts! <a href="{% url 'blog:add' %}">Add One!</a></p>
              {% endif %}
            {% endblock %}
          </div>

        </div>

      </div>

    </div>
    <script src="{% static 'blog/jquery.min.js' %}"></script>
    <script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>

  </body>
</html>
