{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block content %}
  {% if form %}
    <article>
      <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form-control btn btn-info" type="submit">Publish</button>
      </form>
    </article>
  {% else %}
    <p>Send Default Data to form</p>
  {% endif %}

{% endblock %}
