{% extends "blog/base.html" %}
{% block content %}
    <form class="form-group" action={% url 'blog:form_test' %} method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class=" form-control btn btn-info" type='submit'>Publish</button>
    </form>
{% endblock %}
