{% extends 'blog/base.html' %}
{% load staticfiles %}
    {% block content %}
          {% if posts %}
            <article class='media'>
              {% for post in posts %}
                <content>
                  <h3>{{ post.id }}: <a href="{% url 'blog:detail' post.id %}">{{ post.post_title }}</a></h3>
                  <small><strong>
                      {{ post.pub_date }} </strong></small>
                      {%  if request.user.id %}
                          by <a href="{% url 'blog:profile' post.author.id %}">{{ post.author.username }}</a>
                      {% endif %}
                  in <a href="{% url 'blog:category' post.category %}">{{ post.category|lower }} </a><br>
                  <p>
                    {% if post.image.url != none %}
                      <img class="thumbnail" src="{{ post.image.url }}" width="100%" height=800 alt="this pic">
                    {% endif %}
                    {{ post.post_text|truncatewords:"80" }}
                  </p><br>
                </content>
                <content>
                  <p>
                     <a class="glyph-link" href="{% url 'blog:like' post.id %}">
                         <span title="love" class="glyphicon glyphicon-heart-empty">
                             <small>{{ post.likes }}</small>
                         </span></a>
                     <a class="glyph-link" href="{% url 'blog:comment' post.id %}">
                         <span class="glyphicon glyphicon-comment">
                             <small>{{ post.comment_set.count }}</small>
                         </span>
                     </a>
                     <a class="glyph-link" href="{% url 'blog:share' post.id %}">
                         <span class="glyphicon glyphicon-retweet">
                             <small>{{ post.shares }}</small>
                         </span>
                     </a>
                  </p>
                  <hr>
                </content>
              {% endfor %}
            </article>
          {% else %}
            <article>
               <content>
                 <p>No Posts Yet</p>
               </content>
            </article>
          {% endif %}

            <ul class="pagination">
              {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
              {% endif %}
              {% for pg in posts.paginator.page_range %}

                {% if posts.number == pg %}
                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}

                {% endfor %}
                {% if posts.has_next %}
                  <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>

    {% endblock %}
