{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
  <article>
    {% for field in form.fields %}
      <p>{{ field.errors }}</p>
    {% endfor %}
    <form class="form-group" action="{% url 'blog:user_login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-info form-control">Login</button>
    </form>
  </article>
{% endblock %}
