{% extends 'blog/base.html' %}
{% load staticfiles %}
    {% block content %}
          {% if posts %}
            <article>
              {% for post in posts %}
                <content>
                  <h3>{{ post.id }}: <a href="{% url 'blog:trash_detail' post.id %}">{{ post.post_title }}</a>
                    {% if post.shares >= 1 %}
                     <small><span class='glyphicon glyphicon-ok'></span><b>shared</b></small>
                    {% endif %}

                    {% if post.pub_date != post.mod_date %}
                     <small><span class='glyphicon glyphicon-pencil'></span><b>edited</b></small>
                    {% endif %}
                  </h3>
                  <small><strong>Posted {{ post.pub_date }}</small></strong>
                  in <a href="{% url 'blog:category' post.category %}">{{ post.category|lower }} </a><br>
                </content>
                <content>
                  {% if post.image %}
                    <img class="thumbnail" src="{{ post.image.url }}" height="400" width="60%" alt="this pic">
                  {% else %}
                    <img class="thumbnail" src={% static "blog/img/herc.jpg" %} height="450px" width="60%" alt="this pic">
                  {% endif %}
                  <p>{{ post.post_text|truncatewords:"30" }}...</p><br>
                </content>
                <content>
                  <p>
                     <a class="glyph-link" href="{% url 'blog:like' post.id %}"><span title="love" class="glyphicon glyphicon-heart-empty"> <small>{{ post.likes }}</small></span></a>
                     <a class="glyph-link" href="{% url 'blog:comment' post.id %}"><span class="glyphicon glyphicon-comment"> <small>{{ post.comment_set.count }}</small></span></a>
                     <a class="glyph-link" href="{% url 'blog:share' post.id %}"><span class="glyphicon glyphicon-retweet"> <small>{{ post.shares }}</small></span></a>
                  </p>
                  <hr>
                </content>
              {% endfor %}
            </article>
          {% else %}
            <article>
               <content>
                 <p>No Posts Yet</p>
               </content>
            </article>
          {% endif %}

            <ul class="pagination">
              {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
              {% endif %}
              {% for pg in posts.paginator.page_range %}

                {% if posts.number == pg %}
                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}

                {% endfor %}
                {% if posts.has_next %}
                  <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>

    {% endblock %}
