{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
  <article>
    {% if post %}
        <content>
          <h3>{{ post.id }}: <a href="{% url 'blog:trash_detail' post.id %}">{{ post.post_title }}</a></h3>
          <small><strong>Posted {{ post.pub_date }} </small></strong>
          in <a href="{% url 'blog:category' post.category %}">{{ post.category|lower }} </a> |
          <a href="{% url 'blog:edit' post.id  %}" title="Edit Post"><span class="glyphicon glyphicon-pencil"></span> Edit Post</a> |
          <a href="{% url 'blog:delete_trash' post.id %}"><span class="glyphicon glyphicon-trash"></span> Delete</a> <br>
        </content>
        <content>
          <img class="thumbnail" src={{ post.image.url }} height="50%" width="50%" title="post title" alt="make the post more attractive">
          <p>{{ post.post_text }}<p><br>
        </content>
        <content>
          <p>
             <a class="glyph-link" href="{% url 'blog:like' post.id %}"><span title="love" class="glyphicon glyphicon-heart-empty"> <small>{{ post.likes }}</small></span></a>
             <a class="glyph-link" href="{% url 'blog:comment' post.id %}"><span class="glyphicon glyphicon-comment"> <small>{{ post.comment_set.count }}</small></span></a>
             <a class="glyph-link" href="{% url 'blog:share' post.id %}"><span class="glyphicon glyphicon-retweet"> <small>{{ post.shares }}</small></span></a>
          </p>
          <hr>
        </content>


      {% block comment_form %}
      <form action="{% url 'blog:comment' post.id %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="comment" placeholder="comment..." required><br>
        <button class="form-control btn btn-info" type="submit">Publish</button>
      </form>
      {% endblock %}

      <section class="comment-section">
        <h4>{{ post.comment_set.count }} Comments & Reactions</h4><hr>
        {% if post.comment_set.all.0 != None %}
          {% for comment in comments %}
            <p class="comment-comment">{{ comment.comment_text }} <strong><small>{{ comment.pub_date }}</small></strong>
                 <a href="{% url 'blog:edit_comment' comment.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                 <a href="{% url 'blog:del_comment' comment.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </p>
          {% endfor %}
        {% else %}
          <p>Be the first to respond</p>
        {% endif %}
      </section>
    {% else %}
      <p>Post not found.Back <a href="{% url 'blog:index' %}">Home</a> </p>
    {% endif %}
  </article>

{% endblock %}
